[package]
name = "min_size_no_std"
version = "0.1.0"
edition = "2021"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
opt-level = "z"
lto = true
codegen-units = 1

[dependencies]
scapegoat = { path = "../../../../scapegoat" }
